.blog{
	a{
	color: $smaltblue;
	  &:hover,
	  &:focus {
	  		color: $jacarta;
  } 
}
.blog--featured{
	margin-bottom: 40px;
	display: table;
}
.blog--featured__image{
	@include span(6 of 12 first);
}

.blog--featured__content{
	@include span(6 of 12 last);
	padding: 20px 30px 0 0;
	
	h2 > a{
		font-weight: $bold;
		margin-bottom: 1em;
		display: block;
		line-height: 1.3;
		@include font-size(34px);
		color: $smaltblue;
	}
}

.blog--wrap{
	@include span(8 of 12 first);
	
	
	.entry-title{
		font-weight: $bold;
		> a{
			color: $smaltblue;	
		}
	}
}
	
	.excerpt-read-more{
		background-color: $downy;
		color: $white;
	    border: 1px solid $downy;
	     
		  &:hover,
		  &:focus {
			color: $white;
		    background-color: darken($jacarta, 4%);
		    border: 1px solid $jacarta;
		  } 
	}
}

.blog--category{
	border-top: 2px solid $saltpan;
	border-bottom: 2px solid $saltpan;
	line-height: 1;
	text-align: right;
	padding-right: 15px;
	margin-bottom: 10px;
	a{
		color: $cerulean;
		@include font-size(10px);
		display: block;
	}
}


.blog--featured__whitepaper{
	background-color: lighten($saltpan, 3%);
	border: 1px solid darken($saltpan, 5%);
	text-align: center;
	padding: 10px 20px 30px 15px;
	margin-bottom: 20px;
}


/*********************************
	
	blog posts in pages 
	
*********************************/

.blog{
	padding: 2em 0 1.3em;
}
.blog--post{
	@include gallery(4);
	margin-bottom: gutter();
	
	img{
		width:100%;
		height: auto;
	}
}

.blog--title{
	text-align: center;
	padding: 10px 0; 
	border-bottom: 2px dotted $saltpan;
	border-top: 2px dotted $saltpan;
	margin: .5em 0 1.3em;
	clear: both;
	}

.blog--post__title{
	@include font-size(21px);
	line-height: 1.3;
	margin-top: 1em;
	font-weight: $bold;

	a, a:visited{
		text-decoration: none;
		color: $text-color;
	}
}

.blog--post__desc{
	@include font-size(16px);
	
	.excerpt-read-more{
		position: relative;
		top:10px;
	}
}
.blog--single{
	.background-image{
		height: 40vh;
	}
}
.blog--single-post{
	width: span(10 of 12);
	margin: 0 auto;
}

