.blog{

	@include at(4) {
		margin-bottom: 2em;
	}
}
.blog--featured{
	margin-bottom: 40px;
	display: table;
}

.blog--featured__image{
	@include span(6 of 12 first);
	
	img{
		width: 100%;
		height: auto;
	}
	
	@include between(3, 4) {
		@include span(4 of 12 first);
	}
		
	@include to(2) {
		@include span(12);	
	}
}

.blog--featured__content{
	@include span(6 of 12 last);
	padding: 20px 30px 0 0;
	
	h2 > a{
		font-weight: $bold;
		margin-bottom: 1em;
		display: block;
		line-height: 1.3;
		@include font-size(34px);
		color: $smaltblue;
		
		
		@include to(2) {
			@include font-size(24px);	
		}
	}
	
	@include between(3, 4) {
		@include span(8 of 12 last);
		padding: 0;	
	}

	@include to(2) {
		@include span(12);	
	}
}

.blog--wrap{
	@include span(8 of 12 first);
	
	@include to(2) {
		@include span(12);
	}
	
.entry-title{
	font-weight: $bold;
	line-height: 1.3;
    margin-bottom: 10px;
    display: block;
    
	> a{
		color: $smaltblue;
		
		&:hover{
			color: $downy;
		}	
	}
}

	.excerpt-read-more{
		color: $downy;
	     margin-top: 25px;
	      
		  &:hover,
		  &:focus {
			color: $white;
		    background-color: darken($jacarta, 4%);
		    border: 2px solid $jacarta;
		  } 
		}
}
.blog--wrap__post{
	    margin-bottom: 45px;
}
.blog--category{
	border-top: 2px solid $saltpan;
	border-bottom: 2px solid $saltpan;
	line-height: 1;
	text-align: right;
	padding-right: 15px;
	margin-bottom: 10px;
	background-color:lighten($saltpan, 3%);
	
	a{
		color: $jacarta;
		@include font-size(12px);
		font-weight: $light;
		text-transform: uppercase;
		
		&:hover{
			color: $downy;
		}

	}
}




.cat-item {
	color: $downy;
	font-weight: $bold;
	a{
		border-right:2px solid $saltpan;
		padding: 10px;
		margin-right: 3px;
		font-weight: $normal;
		color: $downy;
		text-transform: uppercase;
		
		&:hover{
			color: $link-hover;
		}
	}
	
		@include to(3) {
			@include font-size(12px);
		}
}

/*********************************
	
	blog posts in pages 
	
*********************************/

.blog{
	padding: 2em 0 1.3em;
	

}
.blog--post{
	@include gallery(4);
	margin-bottom: gutter();
	
	img{
		width:100%;
		height: auto;
	}
}

.blog--title{
	text-align: center;
	padding: 10px 0; 
	border-bottom: 2px dotted $saltpan;
	border-top: 2px dotted $saltpan;
	margin: .5em 0 1.3em;
	clear: both;
	}

.blog--post__title{
	line-height: 1.3;
	margin-top: 1em;
	font-weight: $bold;

	a, a:visited{
		text-decoration: none;
		color: $text-color;
	}
}

.blog--post__desc{
	
	.excerpt-read-more{
		position: relative;
		top:10px;
	}
	@include to(1) {
		@include font-size(14px);
		margin-top: 10px;
	}
	
}
.blog--single{
	border: 6px solid $saltpan;
	padding-top: 2em;
	
	.background-image{
		height: 40vh;
	}
	
}
.blog--single-post{
	width: span(10 of 12);
	margin: 0 auto;
	
	.article-header{
		margin-bottom: 40px;
	}
	
	.entry-content{
		width: span(10 of 12);
		margin: 10px auto;
	}
	.article-footer{
		border-top: 6px solid $saltpan;
		padding: 30px 10px 50px;
		margin-top: 30px;
	}
}

.entry-date{
	color: $sirocco;
	text-transform: uppercase;
	font-weight: $semi-bold;
	@include font-size(10px);	
}



@include to(1) {
	.blog--post{
		@include gallery(12);
		float: none;
		margin-bottom: 40px;
	}
}









