.careers{
	@include span(6 of 12 first);
	&:last{
		@include span(6 of 12 last);
	}
	
	&:nth-child(odd){
		padding-left:1em;
	}
	&:nth-child(even){
		padding-right:1em;
	}
}

.careers--title{
	border-bottom: 3px solid $saltpan;
	&:hover{
		color: $downy;
	}
}
.careers--description{
	> div{
		margin: 20px 0 40px;
	}
	
	.careers--company{
		border-top: 2px dotted $saltpan;
		margin-top: 30px;
		padding-top: 20px;
	}
}