#casestudies{
	margin-bottom: 3em;
}
.casestudy--introduction{
		margin:2em 0 3.5em;
}
.casestudy--content{
	@include gallery(6 of 12);
	margin-bottom: gutter(10);
	
	&:nth-child(6n) {
	    @include last;
	  }
	float: left;
	border: 1px solid $saltpan;
	
	.copy{
		padding: 10px 20px;
		margin: 20px 0 40px;
		
		ul{
			padding-left: 25px;
		}
	}
	
	.product--title{
		margin-top: 0.2em;
		@include font-size(24px);
	}
	
	img{
		width: 100%;
		height: auto;
	}
}

.case-study--form{
	background-color: $saltpan;
	padding: 30px;
	
	.ninja-forms-field{
		width: 100%;
	}
}

.casestudy--btn{
	@extend %btn;
	border: 1px solid $white;
	background-color: $downy;
	color: $white;
	padding-left:15px;
	padding-right: 15px;
}

@include to(1) {
	.casestudy--content{
		@include gallery(12 of 12);
		clear: both !important;
	}
	
}
	