.contact-us{
	.background-image{
		height: 40vh;
	}
}
.contact--wrap{
	background-color: $saltpan;
}
.contact--details{
	.col{
		@include span(6 of 12);
		
		img{
			width: 100%;
			height: auto;
			padding-right: 20px;
		}
	
	}
	margin-bottom:40px;
}
.contact--details-copy{
	font-weight: $light;
	@include font-size(24px);
	text-align: center;
	margin-bottom: 10px;
}
.contact--col-right{
	padding-right: 20px;
}
.contact--form{
	border: 1px solid $saltpan;
	margin: 0 auto;
	clear: both;
	padding: 20px 0 30px;
}

.contact--details-list {
	@include span(12);

	display: table;
	
	.contact--details-name{
		@include span(3 first);
		font-weight: $semi-bold;
		padding-top: 17px;
	}
	
	.contact--details-address{
		@include span(9 last);
	}
}

.contact--title{
	@include font-size(24px);
	text-align: left;
	margin-bottom: 30px;
	padding: 10px 0; 
	border-bottom: 2px dotted $saltpan;
	border-top: 2px dotted $saltpan;
}