.icons{
	display: block;
	margin-bottom: 2em;
	overflow: hidden;
}

.icon{
	@include gallery(span 3 of 12);
	text-align: center;
	margin-bottom: 0.75em;
	
	.fa{
		color: $downy;
		padding: 0.5em 0;
	}
	
	.circle{
		background-color: $saltpan;
		-moz-border-radius: 50px; 
		-webkit-border-radius: 50px; 
		border-radius: 50px;
		width: 100px;
		height: 100px;
		margin: 0 auto;
		display: block;
		margin-bottom: 0.75em;
	}
}

.icon--text{
	font-weight: $semi-bold;
}