// home page styles

.marketing{
	width: 100%;
	@include span(12);
}
.marketing--banner{
	height: 600px;
}


.marketing figure{
	@include gallery(4);
	margin-bottom: gutter();
	position: relative;
	z-index: 9;
	padding-bottom: 40px;
	background-color: $white;
	height: 300px;
	
	img{
		width:100%;
		height: auto;
	}
	
	@include breakpoint($mobile){
		@include gallery(12 of 12);
		margin-bottom: 1em;
		clear: both !important;
	}
}

.marketing figcaption{
	text-align: center;
	margin: 13px 0 4px;
	text-transform: uppercase;
	font-weight: $light;
	
	p{
		padding: 0;
		margin: 0;
		line-height: 1.3;
	}
}
	
.marketing--boxes{
	position: relative;
	z-index: 99;
	background: $saltpan;
	padding: 15px 0;
}

.marketing--banner__copy{
	position: absolute;
	z-index: 9;
	color: $white;
	text-align: center;
	padding-top: 12em;
	width: 100%;
	
	h1, h2{
		margin: 0;
		text-transform: uppercase;
	}
	
	h1{
		font-weight: $bold;
		
		@include breakpoint($mobile){
			@include font-size(18px);
		}
	}
	
	h2{
		font-weight: $light;
		
		@include breakpoint($mobile){
			@include font-size(14px);
		}
	}
	
}

.marketing--boxes__btn{
	text-align: center;
	position: relative;
	bottom: 5px;
	
	.btn__green-border{
		@include font-size(12px);
		padding: 0px 14px;
		margin-top: 17px;
	}
}

.marketing--request-demo{
	background-color: $jacarta;
	min-height: 120px;
	@include font-size(24px);
	color: $white;
	text-align: center;
	padding-top: 12px;
	
	a{
		@extend %btn;
		background-color: $downy;
		text-transform: uppercase;
		margin-left: 20px;
		color: $white;
	}
}

.marketing--product{
    min-height: 100%;
	background-color: $saltpan;
}

.marketing--product__copy{
	@include font-size(24px);
	text-align: center;
	position: relative;
	z-index: 9;
	margin: 2em auto 60px;
	

}
.product--title{
	@include font-size(32px);
	color: $smaltblue;
	font-weight: $bold;
	line-height: 1.3;
	
	@include breakpoint($mobile){
		@include font-size(20px);	
	}
}
.product--title__subtitle{
		@include font-size(28px);
		color: $smaltblue;
		font-weight: $semi-bold;
		
	@include breakpoint($mobile){
		@include font-size(18px);	
	}
}
.product--title__description{
	@include font-size(18px);
	position: relative;
    bottom: 15px;
	
	@include breakpoint($mobile){
		@include font-size(14px);	
	}
}

.marketing--product__image{
	position: relative;
	z-index: 99;
	text-align: center;
	bottom: -6px;
	
	@include breakpoint($mobile){
		img{
			width: 100%;
			height: auto;
		}	
	}
}
.marketing--feature{
	width: 100%;
	clear: both;

}
.marketing-feature__desc{
		@include span(6 of 12);
		padding: 12em 2em 0;
		
		@include breakpoint($mobile){	
			@include span(12);		
			padding: 2em 2em 0;
			margin-bottom: 40px;
		}
				
		
		
		.title{
			@include font-size(32px);
			text-transform: uppercase;
			color: $smaltblue;
			font-weight: $bold;
			line-height: 1;
			margin-bottom: .5em;


		}
		
		.copy{
			@include font-size(18px);
			line-height: 2;
			margin-bottom: 4em;
			
						
			@include breakpoint($mobile){	
				@include font-size(14px);
				margin-bottom: 2em;
			}
		}

}
.feature--left{
	
	img{
		@include span(7 of 12);
		
		@include breakpoint($mobile){			
			@include span(12);
		}
	}
	
	.marketing-feature__desc{
		@include span(5 of 12 last);
		
		@include breakpoint($mobile){			
			@include span(12);
		}
	}
	
	
	}

.feature--right{
	img{
		@include span(7 of 12 last);
		
		@include breakpoint($mobile){			
			@include span(12);
		}
	}
	
	.marketing-feature__desc{
		@include span(5 of 12);
		float: right;
		
		@include breakpoint($mobile){			
			@include span(12);
		}
	}
}
