%product--content-placeholder{
	margin-top: 150px;
	
	h2{
		margin-top: 0;
	}
	
	.copy{
		@include font-size(18px);
		line-height: 2;
	}
}
.product--image__right{
	background-color: $white;
	min-height: 85vh;
	position: relative;
	
	.product--image{
		position: absolute;
		bottom: -6px;
		right:0;
	}
	
	.product--content{
		@extend %product--content-placeholder;
		@include span(5 of 12 first);
	}

}

.product--image__left{
	background-color: $saltpan;
	min-height: 85vh;
	position: relative;
	
	.product--image{
		position: absolute;
		bottom: -6px;
		left:0;
	}
		
	.product--content{
		@extend %product--content-placeholder;
		@include span(5 of 12 last);
		
		
	}
}