%product--content-placeholder{
	margin-top: 3.3125em;
	
	@include to(2) {
		margin-top: 3em;
	}
	
	h2{
		margin-top: 0;
	}
	
	.copy{
		line-height: 1.5em;
		margin-bottom: 3.75em;
	}
}

.product--image__right{
	background-color: $saltpan;
	
	@include at(3, 4) {
		min-height: 66vh;
	}

	@include to(2) {
		padding-bottom: 6em;
	}
	
	
	.product--image{
		@include span(5 of 12 last);
		margin-top: 3.75em;
		
		@include between(3, 4) {
			@include span(6 of 12 last);
			
			img{
				 float: right;
			
			}
		}
		
		
		@include to(2) {
			position: static;
			
			img{
				width: 100%;
				height: auto;
			}
		}
	}
	
	.product--content{
		@extend %product--content-placeholder;
		@include span(6 of 12 first);
		@include push(1);
		
		@include to(2) {
			@include span(12);
		
		}
	}

}

.product--image__left{

	background-color: $white;

	@include at(3, 4) {
		min-height: 66vh;
	}
	
	@include to(2) {
		padding-bottom: 6em;
	}
	
	.product--image{
		@include span(5 of 12 first);
		@include push(1);
		
		margin-top: 3.75em;
		
	@include between(3, 4) {
		@include span(6 of 12 first);
		
		img{
			 max-height: 100%;
			 max-width: 100%;
		}
	}
		
		
	@include to(2) {
		position: static;
		
		img{
			width: 100%;
			height: auto;
		}
	}
}
		
	.product--content{
		@extend %product--content-placeholder;
		@include span(6 of 12 last);	
		
		
		@include to(2) {
			@include span(12);
		}
	}
}


