
/**************************** 
	
	REQUEST A DEMO 

****************************/

.request--quote{
	background-color: $saltpan;
	border-top: 2px solid $jacarta;
	width: 100%;
	padding: 1.5em 0 3em 0;
	
	.btn__green{
		padding: 5px 24px;
	}
}
.quote__title{
	text-align: center;
}
.request--copy{
	text-align: center;
	width: span(8 of 12);
	margin: 2em auto 4em;
}
.contact--quote_image{
	@include span(6 of 12 first);
	position: relative;
	bottom: -54px;
	
	@include to(4) {
		@include span(12);
	
	}
	
	
	@include to(1) {
		display: none;
	}
	
}
.contact--quote_email{
	@include span(6 of 12 last);
	
	@include to(4) {
		@include span(12);
		margin-top: 3em;
		padding-top:1em;
	}

	@include to(2) {
		@include span(12);
		
	}
}
.ninja-forms-cont{
	width: span(10 of 12);
	margin: 0 auto;
}

.contact--form__input-wrap{
	float: left;
}
.ninja-forms-required-items{
	font-size: x-small;
	margin-left: 4px;
}
.field-wrap{
	margin-bottom: 0 !important;
}

.textarea-wrap textarea{
	height: 3em !important;
}


.ninja-forms-form-wrap label{
	font-weight: $normal !important;
	@include font-size(12px);
}
.ninja-forms-form .label-above label{
	margin-bottom: 0;
}

.field-wrap{
	margin: 4px;
}

.textarea-wrap textarea{
	max-width: 383px;
}

@include to(3) {
	.contact--form__input-wrap{
		width: span(12);
	}
}

@include to(1) {
	.ninja-forms-cont{
		width: span(12);
	}
	.request--copy{
		width: span(12);
	}
	.contact--form__input-wrap{
		width: span(12);
		float: none;
	}
}