/******************************************************************

Stylesheet: Search

******************************************************************/

.search .sidebar{
	margin-top: 30px;
}

.search{
	border-top: 2px dotted $saltpan;
}