.whitepaper--introduction{
	margin:2em 0 3.5em;
}
.whitepaper--content{
	@include gallery(4 of 12);
	margin-bottom: 20px;
	border: 1px solid $saltpan;
	
	.copy{
		padding: 10px 20px;
		margin: 20px 0 10px;
		
		ul{
			padding-left: 25px;
		}
	}
	
	.product--title{
		margin-top: 0.2em;
		@include font-size(24px);
	}
	
	img{
		width: 100%;
		height: auto;
	}
}

.whitepaper--btn{
	@extend %btn;
	border: 1px solid $white;
	background-color: $downy;
	color: $white;
	padding-left:15px;
	padding-right: 15px;
}

.whitepaper--button{
	margin-bottom: 20px;
	margin-left: 18px;
}

@include to(1) {
	.whitepaper--content{
		@include gallery(12 of 12);
		clear: both !important;
	}
	
}
