.site--banner__copy{
	position: absolute;
	z-index: 9;
	color: $white;
	text-align: center;
	padding-top: 12em;

}

.background--image_full{
	background-size: cover;
	width: 100%;
	height: 100%;
}

.background--image_partial{
	background-size: cover;
	width: 100%;
	height: auto;
	position: relative;
    z-index: 2;
    background-color: #f1f7f5;
}


.svg-banner{
	position: absolute;
	z-index: 8;
	height: 100%;
	width: 100%;
}

.svg-banner--text{
	color: $smaltblue;
	font-weight: $semi-bold;
}