.site--banner__copy{
	position: absolute;
	z-index: 9;
	color: $white;
	text-align: center;
	padding-top: 12em;

}

#post-52 { /* product page */
	.site--banner__copy{
		text-align: left;
		@include span(6 of 12);
		padding-top: 4.5em;

		h2{
			font-weight: $light;
			@include font-size(32px);
		}
		
		p{
			margin-top: 13px;
			font-size: xx-small;
		}
	}
	
}
.background--image_full{
	background-size: cover;
	width: 100%;
	height: 100vh;
}

.background--image_partial{
	background-size: cover;
	width: 100%;
	height: auto;
	position: relative;
    z-index: 2;
}

@include breakpoint($tablet--portrait){
	#post-52 { /* product page */

		font-size: 60%;
		
		.site--banner__copy{
			text-align: left;
			@include span(7 of 12);
			padding-top: 10px;
			font-size: 40%;
			
			p{
				margin-top: -13px;
			}
		}
}
}


@include breakpoint($mobile){
	.page-template-page-products-php .banner{
		background-color: $saltpan;
	}
	
	.product--image__right .product--image{
		position: relative !important;
	}

	#post-52 {
		font-size: 100%;
		
		.background--image_partial{
			left: 52px;
		}
		.site--banner__copy{
			@include span(8 of 12);
			padding-top: 10px;
		
		h2{
			margin-bottom: 10px;
			font-size: 60%;
		}
		
		p{

			margin-top: 10px;
		}
	}
}

}