.site--banner__copy{
	position: absolute;
	z-index: 9;
	color: $white;
	text-align: center;
	padding-top: 12em;
	@include font-size(32px);
}

#post-52 { /* product page */
	.site--banner__copy{
		@include span(5 of 12);
		text-align: left;
		
		h2{
			font-weight: $light;
		}
	}
	
}
.background--image_full{
	background-size: cover;
	width: 100%;
	height: 100vh;
}

.background--image_partial{
	background-size: cover;
	width: 100%;
	height: auto;
	position: relative;
    z-index: 2;
}

@include breakpoint($tablet--portrait){
	#post-52 { 
		.site--banner__copy{
			@include span(6 of 12);
			padding-top: 3em;
			font-size: 70%;
		}
	}
}


@include breakpoint($mobile){
	#post-52 .site--banner__copy{
		@include span(8 of 12);
		padding-top: 1em;
		font-size: 40%;
		
		p{
			font-size: 30%;
		}
	}
}