/******************************************************************

Stylesheet: Secondary Nav

******************************************************************/
.secondary--menu{
	width: 100%;
	margin-bottom: 20px;
	display: table;

}
.nav-tabs {
	width: 100%;
	display: table;
	text-indent: 0;
	padding-left: 0;	
	
	> li {
	    float: left;
	    margin-bottom: -1px;
		width: 50%;
		text-align: center;
		background-color: $saltpan;
		line-height: 4;
		list-style-type: none;
	
    > a {
      text-transform: uppercase;
      font-weight: $bold;
	  color: $smaltblue;
      
     &:hover {
        color: $jacarta;
        
      }
	  

    }
		
    // Active state, and its :hover to override normal :hover
    &.active > a {
      &,
      &:hover,
      &:focus {
        color: $downy;
        background-color: $white;
        border-bottom-color: transparent;
        cursor: default;
		border-top: 6px solid $downy;
		display: block;
      }
    }
  }

}


.secondary--inner__nav{
		margin: 20px auto;
		@include font-size(14px);
	ul {
		text-align: center;
		margin: 0 auto;
		
		li{
			display: inline-block;
			border: 2px solid $downy;
			padding: 10px 15px 10px 29px;
		}
	}
}

.secondary--inner__bg{
	background-color: $saltpan;
	box-shadow: 0px 3x 5px $gray-dark;
	padding: 16px;
	margin: 0;
	width: 100% !important;
	left: 0 !important;
}

@include breakpoint($mobile){
	.secondary--inner__nav{
		display: none;
	}
}